Checks:     '
            bugprone-*,
            clang-analyzer-*,
            google-*,
            modernize-*,
            performance-*,
            portability-*,
            readability-*,
            -bugprone-macro-parentheses,
            -bugprone-suspicious-semicolon,
            -clang-analyzer-deadcode.DeadStores,
            -google-readability-braces-around-statements,
            -google-readability-namespace-comments,
            -google-runtime-references,
            -readability-braces-around-statements,
            -modernize-use-trailing-return-type,
            -modernize-avoid-c-arrays,
            '
WarningsAsErrors: '*'
HeaderFilterRegex: '$(benchmark|src|test)/include'
CheckOptions:
  - key:             google-runtime-references.WhiteListTypes
    value:           ev::io
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           '_'
  - key:             readability-identifier-naming.ParameterCase
    value:           lower_case
  - key:             readability-identifier-naming.NamespaceCase
    value:           lower_case
  - key:             readability-identifier-naming.InlineNamespaceCase
    value:           lower_case
  - key:             readability-identifier-naming.GlobalConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.GlobalConstantPrefix
    value:           'k'